*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

}

nav {
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 5px 0px 5px 50px;
}

.menu a {
    text-decoration: none;

}

.menu li {
    position: relative;
    text-decoration: none;
    list-style: none;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    height: 100px;
    padding-right: 90px;
}

.menu__list>li{
   margin: 0px 20px 0px 0px; 
}

.menu__list>li:hover .sub-menu__list {
    display: block;
}
.sub-menu__list>li:hover:before {
    display: block;
    content: "☂";
    position: absolute;
    left: -10px;
    top: 5px;
}

.menu__link {
    text-transform: lowercase;
}

.sub-menu__list {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: left;

    width: 100%;
    min-width: 150px;
    background: #fff;
    top: 19px;
    left: 0;
    padding: 5px 0px 0px 15px;

}

.sub-menu__link {
    display: flex;
    padding: 10px 10px;
}

section {
    margin: 30px;
}
