*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    color: black;
}

nav {
    background-color: powderblue;
}

.logo img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 5px 0px 5px 50px;

}

.menu {
}

.menu a {
    text-decoration: none;
    padding: 10px 10px;

    
}

.menu li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: inline-block;

}

.menu__list {
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 100px;
    padding-right: 90px;
}

.menu__list>li{
   margin: 0px 20px 0px 0px; 
}

.menu__list>li:hover .sub-menu__list {
    display: block;
}
.sub-menu__list>li:hover:before {
    display: block;
    content: "☂";
    position: absolute;
    left: -10px;
    top: 5px;
}

.menu__link {
    text-transform: lowercase;
}

.sub-menu__list {
    position: absolute;
    display: none;
    width: 100%;
    background: #fff;
    top: 25px;
    left: 0;
    padding: 10px 0px 0px 15px;

}

.sub-menu__link {
    padding: 10px 10px;
}

section {
    margin: 30px;
}
