@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
/* main.css*/
body {
    margin: 50px auto;
    width: 300px;
    height: 500px;
}

.container {
        padding-left: 20em;
        background-image: url("img/sky.png");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 980px;
        height: 800px;
        z-index: 2;
}

.cloud {
        background-image: url("img/Cloud.png");
        position: absolute;
        left: 115px;
        top: -194px;
        width: 755px;
        height: 234px;
        z-index: 7;      
}

.title {
    font-size: 72px;
    font-family: 'Signika', sans-serif;
    color: rgb(254, 254, 254);
    font-weight: bold;
    line-height: 0.222;
    text-align: left;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
    position: absolute;
    left: 241.937px;
    top: 131.008px;
    z-index: 43;
  }

  .subtitle {
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    color: rgb(38, 107, 151);
    line-height: 1.143;
    text-align: left;
    position: absolute;
    left: 346.134px;
    top: 182.999px;
    z-index: 42;
  }
  
  

.ship {
    background-image: url("img/ship.png");
    position: absolute;
    left: 301px;
    top: 452px;
    width: 48px;
    height: 21px;
    z-index: 12;
  }
  
.div1, .div2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    height: 100px; 
    width: 150px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}
