@font-face {
  font-family: "GoogleSans-Bold";
  src: url("fonts/GoogleSans-Bold.woff2");
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("fonts/ProximaNova-Regular.otf");
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("fonts/ProximaNova-Bold");
}
@font-face {
  font-family: "ProductSans-Regular";
  src: url("fonts/ProductSansRegular.ttf");
}
@font-face {
  font-family: "ProductSans-Bold";
  src: url("fonts/ProductSansBold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-image: url(./img/hero.svg);
  background-repeat: no-repeat;
}

.main {
  width: 1155px;
  margin: 0 auto;
  margin-left: 400px;
  /* border: 2px solid red; */
}

.header__top {
  font-size: 14px;
  line-height: 17px;
  margin-top: 9px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  color: #ffffff;
  font-family: "ProximaNova-Regular";
}

.date,
.time {
  margin-right: 25px;
}

.currency-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100px;
  margin-left: 400px;
}

.header__logo {
  width: 40.95px;
  height: 41px;
  color: #ffffff;

  background: #ffffff;
}

.header__btn {
  width: 157px;
  height: 35px;
  background: #ffffff;
  border-radius: 5px;
  float: right;
  line-height: 17px;
  padding: 10px 38px 10px 50px;
  font-size: 14px;
}

.header__btn:after {
  content: "";
  clear: both;
  display: block;
}

.header__content {
  padding: 34px 0px 23px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "ProximaNova-Regular";
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.header__logo-brand {
  font-family: Gotham Pro;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.05em;
  padding-left: 10px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.currency-list {
  margin-left: 61px;
}

.currency-list img {
  width: 16px;
  height: 16px;
}

.currency-list__option {
  width: 105px;
  height: 35px;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.menu li {
  display: inline-block;
}

.menu a {
  font-size: 20px;
  line-height: 36px;
  padding: 0px 14px;
  color: #ffffff;
}

.menu a + a {
  padding-left: 20px;
}
.empty-1 {
  height: 74px;
}
.empty-2 {
  height: 100px;
}
.slider {
  width: 1200px;
  height: 569px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__content {
  /* border: 1px solid black; */
}

.slider__content-title {
  width: 511px;
  height: 107px;
  font-family: "ProductSans-Regular";
  margin-top: 132px;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider__content-text {
  margin-top: 25px;
  width: 628px;
  height: 96px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider__content-CTA {
  margin-top: 25px;
  background: #ffffff;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 21px;
  width: 223px;
  height: 42px;
  text-align: center;
  padding: 10px 0px;
}

.slider__laptop {
  margin-top: 46px;
  margin-left: -30px;
  width: 629px;
  height: 496px;
  background: url(./img/laptop.png);
  z-index: -44;
}

.info__crypto {
  display: flex;
}
.form {
  padding: 35px 36px;
  width: 346px;
  height: 436px;
  background: #ffffff;
  box-shadow: 0px 0px 35px #d5d5e3;
  border-radius: 5px;
  margin-right: 58px;
}
.form__title {
  font-family: "ProductSans-Bold";
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  text-align: left;
}

span {
  margin-right: 10px;
}

.form__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
}
.form__row-bold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-family: "ProximaNova-Bold";
  font-size: 20px;
  line-height: 24px;
}
.form__row-bold-right {
  text-align: left;
}

.form__more-info {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  color: #2f80ed;
  margin-top: 13px;
}
.start {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.form__start-btn {
  width: 276px;
  height: 42px;
  background: linear-gradient(58.78deg, #2a1c75 -599.37%, #5639b7 81.13%);
  border-radius: 5px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-around;
  margin-top: 20px;
}

.form__view-btn {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #5639b7;
  height: 42px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #5639b7;
  justify-content: space-around;
  margin-top: 10px;
}
.news {
  position: relative;
  margin-top: 35px;
  width: 1157px;
  height: 508px;
}
.news__title {
  margin-top: 83px;
  margin-bottom: 66px;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  color: #333333;
  font-family: "GoogleSans-Bold";
}

.info-card {
  margin-bottom: 39px;
  width: 346px;
  height: 324px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 35px #d5d5e3;
  display: flex;
  flex-direction: row;
}
.info__type {
  color: #449ed1;
  padding: 39px 29px;
  width: 107px;
  height: 14px;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.02em;
}

.info__subtitle {
  padding: 0px 29px;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #333333;
  font-weight: 600;
}
.info__text {
  position: absolute;
  top: 147px;
  padding: 0px 29px;
}

.info__date {
  position: absolute;
  bottom: 5px;
  left: 29px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #afafaf;
}

.container {
  display: flex;
  justify-content: start;
  position: relative;
}

h2 {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.05em;
  font-family: "ProximaNova-Regular";
}

h4 {
  font-size: 14px;
  line-height: 13px;
  /* identical to box height */
  letter-spacing: 0.02em;
  font-family: "ProximaNova-Regular";
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}

h5 {
  bottom: 17px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #afafaf;
  position: absolute;
  bottom: 17px;
}

p {
  font-family: "ProximaNova-Regular";
}

.container div {
  max-width: 346px;
  height: 324px;
  padding: 16px 18px;
  margin-bottom: 26px;
  background: #ffffff;
  box-shadow: 0px 0px 35px #d5d5e3;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
}
.box-2 {
  margin: 0px 58px;
}
.tweets-title {
  display: flex;
  justify-content: space-between;
}
.tweets-title__text {
  font-family: "GoogleSans-Bold";
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  color: #333333;
}
.tweets-CTA {
  font-size: 14px;
  line-height: 17px;
  padding-top: 10px;
  padding-left: 30px;
  width: 107px;
  height: 38px;
  border-radius: 21px;
  border: 1px solid #5639b7;
  color: #5639b7;
}

.tweets-cards {
  margin-top: 31px;
  display: flex;
}
.tweet-card {
  width: 346px;
  margin-right: 58px;
}
.tweet-card__top {
  display: flex;
  justify-content: space-between;
}
.tweet-card__top-date {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #afafaf;
}
.tweet-card__text {
  margin-top: 10px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;

  color: #333333;
}
.tweet-card__img {
  margin-left: -36px;
  margin-top: -20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 46px;
}
.footer-top__crypto {
  width: 105px;
  height: 35px;
  border: 1.5px solid #ccd4dc;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #333333;
  padding-left: 17px;
  margin-left: 30px;
}
.footer-top__navlist {
}
ul.navlist {
  min-width: 500px;
  list-style: none;
}

ul.navlist li {
  padding-left: 39px;
  display: inline;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #333333;
}
.footer-bottom {
  height: 37px;
  margin-top: 32px;
  padding: 10px 0;
  border-top: 1px solid #ccd4dc;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #333333;
  opacity: 0.6;
}
