* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  min-width: width 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.body {
  color: #ffffff;
  font-size: 14px;
}

.header__top {
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #e5e5e5;
}

.header__btn {
  float: right;
  line-height: 17px;
  background-color: #eeeeee;
  padding: 10px 38px 10px 50px;
  font-size: 14px;
}

.header__btn:after {
  content: "";
  clear: both;
  display: block;
}

.header__content {
  padding: 34px 0px 23px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu a {
  font-size: 20px;
  line-height: 36px;
  padding: 0px 16px;
}

.menu a + a {
  padding-left: 10px;
}
