.container {
  margin: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.container__step-1 {
  height: 50px;
  width: 50px;
  display: flex;
  margin-right: 25px;

  border: solid 5px black;
}
.container__step-2 {
  height: 75px;
  width: 60px;
  display: flex;
  margin-right: 25px;

  border: solid 5px black;
}
.container__step-3 {
  height: 100px;
  width: 70px;
  display: flex;
  margin-right: 25px;

  border: solid 5px black;
}
.container__step-4 {
  height: 125px;
  width: 80px;
  display: flex;
  margin-right: 25px;

  border: solid 5px black;
}
.container__step-5 {
  height: 150px;
  width: 90px;
  display: flex;
  margin-right: 25px;

  border: solid 5px black;
}
.ball {
  width: 50px;
  height: 50px;
  background: red;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
}
@keyframes bounce {
  0% {
    left: 0px;
  }
  20% {
    top: 15px;
    left: 65px;
  }

  40% {
    top: -15px;
    left: 205px;
  }
  60% {
    top: -35px;
    left: 305px;
  }
  80% {
    top: -65px;
    left: 405px;
  }
  100% {
    top: -15px;
    left: 205px;
  }
}
