
.icon-search:before { content: '\e800'; } /* '' */
.icon-updown-circle:before { content: '\e801'; } /* '' */
.icon-search-2:before { content: '\e802'; } /* '' */
.icon-search-outline:before { content: '\e803'; } /* '' */
.icon-search-3:before { content: '\e804'; } /* '' */
.icon-clock-1:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e81b'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */