.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
.card {
    width: 100px;
    width: 40px;
    /* border-radius: 8%; */
    flex: none;
    position: relative;
    margin-top: 50px;
    
}

.card::before{
    content: "";
    display: block;
    background:  repeating-linear-gradient(-30deg, red 0, red 50px, #fff 0, #fff 60px);
    border-radius: 8%;
    border: 2px solid;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 250%;
    transform: scaleX(1);
    
}

.card:hover{
    /* position: relative; */
    /* z-index: 5; */
    
}

.card:hover .card__inner {
    background-color: #fff;
    transform: scaleX(1) translateY(-30%);

}
/* .card::after{
    content: "";
    display: block;
} */

.card__inner {
    background-color: #fff;
    border-radius: 10%;
    padding-bottom: 350%;
    width: 250%;
    border: 2px solid;
    transform: scaleX(0) translateY(0);
    transition: transform 0.15s ease 0.5s;
}
