.timer {
  display: flex;
  width: 400px;
  height: 100px;
  border: 3px solid black;
  font-size: 82px;
  line-height: 100px;
  justify-content: center;
  align-items: flex-end;
}
.timer__minutes {
  margin-left: 10px;
}

.icon-spin3 {
  margin: 5px;
  font-size: 60px;
}

.time-bottom {
  margin-top: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.time-input {
  font-size: 30px;
  border: 3px solid black;
  display: flex;
}

:placeholder-shown {
  font-size: 20px;
  width: 100px;
}
.start-button {
  border: 3px solid black;
  display: flex;
  align-items: center;
}

.icon-play {
  padding: 0 100px;
}
