.timer {
  display: flex;
  width: 400px;
  height: 100px;
  border: 3px solid black;
  font-size: 82px;
  line-height: 100px;
  justify-content: center;
  align-items: flex-end;
}

.spin .arrows {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.timer__minutes {
  margin-left: 10px;
}

.icon-spin3 {
  margin: 5px;
  font-size: 60px;
}

.time-bottom {
  margin-top: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.time-input {
  flex-grow: 1;
}
.time-input input {
  border: 3px solid black;
  width: 100%;
}

.start-button {
  border: 3px solid black;
  display: flex;
  align-items: center;
}

.icon-play {
  padding: 0 100px;
}
